@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: "Share Tech Mono", monospace;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    /*background: linear-gradient(to right, #b92b27, #1565c0);*/
    /*color: #e7e7e7;*/
    /*background: #6465A5;*/
    /*#659DBD;*DARK BLUE /
    /*#E98074;*/
    /*my fav background: #252627;*/
}

a {
    text-decoration: none;
    color: rgb( 69, 65, 50 );
}

a:hover {
    color: rgb(189, 72, 0);
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}




/* header */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.line1 {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line2 {
  width: 50px;
  height: 3px;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line3 {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.burger-menu-icon {
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(55, 55, 55, 0.5);
    
    padding: 1.5rem;
    border-radius: 0% 0% 0% 20%;
}

.burger-menu-icon:before, .burger-menu-icon:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, rgb(19, 19, 19), rgba(249, 105, 14, 1),rgba(185,25,25,1),rgba(102, 51, 153, 1));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 50s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.burger-menu-icon:after {
    filter: blur(50px);
}



.profile-pic {
    height: 9rem;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 1.5rem 0;
}

.caption {
    display: block;
}

.nav-list {
    width: 24rem;
    height: 100vh;
    background-color: #222222;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 998;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.nav-item {
    margin: 1.2rem 0;
}

.nav-link {
    opacity: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #cecece;
    letter-spacing: 1.5px;
}

.nav-link:hover {
    color: rgba(249, 105, 14, 1);
}


.toggle {
    background: none;
}




.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
    margin-left: 0px;
}

@keyframes navLinkAnimate {
        from {
    opacity: 0;
    transform: translate(50px);
    }
    to {
    opacity: 1;
    transform: translate(0px);
    }
}


/* Landing Page */
.landing-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient( 135deg, 100% #252627, rgba(0, 0, 0, 0.8) 0% ), url("images/landing-page.png") center no-repeat;
    background-size: contain;
    position: relative;
    /*rgba(225,179,130,.9)*/
}

.main-message {
    width: 100%;
    max-width: 58rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.main-message h2 {
  letter-spacing: 1rem;
  font-size: 4rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color: rgba(230,0,0,1);
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
    100% {
        border-right: 4px solid background rgb(3, 155, 155);
        
    }
}

.main-message h3 {
    font-size: 4rem;
    margin: 1rem 0;
    color: rgba(185,25,25,1);
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    /*background: linear-gradient(to right, #8360c3, #2ebf91);*/
    /*background: linear-gradient( to right, rgba(185,25,25,1)2%,
    rgba(102, 51, 153, 1)100% );*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.9rem;
  font-weight: 600;
  color:#2C3335;
  
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
    margin: 0 9px;
    background-color: #E9CCA4;
    border-radius: 3rem;
    padding: 2rem 2.5rem;
    display: inline-block;
    margin-top: 3rem;
    transition: background-color 650ms;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    border: 3px solid #555555;
    font-size: 130%;
    color:black;
}

.btn:hover {
    color: black;
    background-color: rgb(189, 72, 0);
}
  
.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: rgb(189, 72, 0);
}

/* About */

.about {
  width: 100%;
  min-height: 100vh;
  max-width: 100rem;
  margin: auto;
}

.about .container {
    
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.about-img img {
  height: 25rem;
  width: auto;
  border-radius: 50%;
  margin: 5rem;
  box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin-bottom: 1.45rem;
  text-align: justify;

}

.about-text-box h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    padding: 0;

}



hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

/* Services */

.services {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
  background:#333;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
   color:white;
  
}

.title-heading h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
}

.service-tiers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.6rem;
}

.tier-item {
    height: 30rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.tier-item i {
  font-size: 3.5rem;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}



/*skills -progress bar*/
.skills{
    width:500px;
    margin: 60px auto;
    color:white;
}

.skills li{
    margin: 20px 0;
}

.bar{
    background:#353b48; 
    display:block;
    height:15px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow:hidden;
    box-shadow:0 0 10px rgb(3, 155, 155);

}

.bar span{
    height:8px;
    float:left;
    background:#FFF222;
    /*#2187e7;*/
}

.html5{
    width: 95%;
    animation: html5 4s;
}

.css {
    width: 85%;
    animation: css 2s;
}

.javascript {
    width: 95%;
    animation: javascript 4s;
}

.react {
    width: 90%;
    animation: react 4s;
}

.c {
    width: 75%;
    animation: c 4s;
}

.mvc {
    width: 70%;
    animation: mvc 4s;
}

.sql {
    width: 80%;
    animation: sql 2s;
}




@keyframes html5{
    0%{
        width:0%;
      }

    100%{
        width:95%;
    }
}


@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes mvc {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


/* Projects */

.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 100rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
}

.project-description {
  flex: 1;
}

.project-description h2 {
    font-size: 2rem;
    margin: 2rem 0;
    background: rgb( 69, 65, 50 ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}






/* Contact */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 100rem;
  margin: auto;
  padding-top: 4rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 2px;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#contact-form {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 3px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 18px;
    font-size: 18px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}


.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e6ffff;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}


#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e67300;
    border: none;
    font-size: 14px;
    cursor: pointer;
}




/* Footer */

footer {
    width: 100%;
    max-width: 70rem;
    margin: auto;
    padding: 1.5rem;
    color: rgb( 69, 65, 50 ); /*#8a8a8a;*/
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

footer a {
  margin: 0 0.4rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Responsive Design */

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .services-tiers {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }

  footer,
  footer p {
    font-size: 1.2rem;
  }
}
